{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          
          <script>
            if (window.location.href.match('/pt/')){
              document.write('<li class="masthead__menu-item"><a href="/pt/library/">Biblioteca</a></li>');
              document.write('<li class="masthead__menu-item"><a href="/pt/ComputationalPhysics/">Física Computacional</a></li>');
              document.write('<li class="masthead__menu-item"><a href="/pt/year-archive/">Blog</a></li>');
              document.write('<li class="masthead__menu-item"><a href="/publications/">Publicações</a></li>');
              document.write('<li class="masthead__menu-item"><a href="http://lattes.cnpq.br/1281887099263383">Lattes</a></li>');
            }else{
              if (window.location.href.match('/es/')){
                document.write('<li class="masthead__menu-item"><a href="/es/library/">Biblioteca</a></li>');
                document.write('<li class="masthead__menu-item"><a href="/es/ComputationalPhysics/">Física Computacional</a></li>');
                document.write('<li class="masthead__menu-item"><a href="/es/year-archive/">Blog</a></li>');
                document.write('<li class="masthead__menu-item"><a href="/publications/">Publicaciones</a></li>');
                document.write('<li class="masthead__menu-item"><a href="http://lattes.cnpq.br/1281887099263383">Lattes</a></li>');
              }else{
                document.write('<li class="masthead__menu-item"><a href="/en/library/">Library</a></li>');
                document.write('<li class="masthead__menu-item"><a href="/en/ComputationalPhysics/">Computational Physics</a></li>');
                document.write('<li class="masthead__menu-item"><a href="/en/year-archive/">Blog</a></li>');
                document.write('<li class="masthead__menu-item"><a href="/publications/">Publicações</a></li>');
                document.write('<li class="masthead__menu-item"><a href="http://lattes.cnpq.br/1281887099263383">cv</a></li>');
              }
            }
          </script>
          
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
