---
---

<div class="text-justify">{{reference}}</div>
<button class="bibtexbtn"  onclick="toggleBibtex{{entry.key}}()">Bibtex</button>

{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input class="doibtn" type="button" value="doi" /></a>
{% endif %}

{% if entry.preprint %}
    <a href="{{ entry.preprint }}"><input class="button2" type="button" value="preprint" /></a>
{% endif %}

{% if entry.link %}
    <a href="{{ entry.link }}"><input class="button4" type="button" value="link" /></a>
{% endif %}

{% if entry.note == "submitted" %}
    <!--a href="{{entry.note}}"><input class="notebtn" type="button" value="submitted"></a-->
    <button class="submittedbtn">submitted</button>
{% endif %}

{% if entry.note == "under review" %}
    <button class="reviewbtn">under review</button>
{% endif %}

{% if entry.note == "accepted" %}
    <button class="reviewbtn">to appear</button>
{% endif %}

{% if entry.note == "in press" %}
    <button class="inpressbtn">in press</button>
{% endif %}

{% if entry.code %}
    <a href="{{ entry.code }}"><input class="button3" type="button" value="code" /></a>
{% endif %}
<div id="a{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>
<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
